<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ 'home' }}">Exam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{ path('article') }}">Tous les articles</a>
            {% if 'ROLE_USER'is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="nav-item nav-link" href="{{ path('a') }}">Faire un article</a>
                {% else %}
                <a class="nav-item nav-link" href="{{ path('login') }}">Veuillez vous connecter pour écrire un article</a>
            {%  endif %}
        </div>
    </div>
    <a href="{{ 'register' }}" class="btn btn-info" onclick="" >S'enregistrer</a>
    <a href="{{ 'login' }}" class="btn btn-info" onclick="" >Se connecter</a>
    <a href="{{ 'logout'}}" class="btn btn-info"  >Se déconnecter</a>


</nav>